

/* No style rules here yet */		
body,html{
  height:100%;
}
body {
	color: rgba(0,0,0,.8);
	/*text-shadow: 0 0 4px #FFF;*/
	font-family: "Inconsolata", monospace, "Courier New", Courier, monospace;
	padding: 0;
	margin: 0;
	background-color:#FFF;
	line-height: 130%;	
	font-size: 12px;
	/*overflow: hidden;*/
	font-size: 10px;
}

.menu {
	padding: 20px;
	float: left;
	width: 220px;

}
.menu .entry {
	cursor: pointer;
	position: relative;
	width: 100%;
	clear: left;
}
.menu .color {
	/*color: #FFF;
	font-weight: bold;
	text-shadow: none;*/
	padding: 3px;
	margin: 3px;
	float: left;
}

.menu .label {
	padding: 3px;
	margin: 3px;
	float: left;
}
.menu .close {
	padding: 3px;
	margin: 3px;
	float: left;
	opacity: 0;
}


.line {
	fill:none;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #A0A0A0;

}

.axis .minor line {
  stroke: #BFBFBF;
  stroke-dasharray: 2,2;
}



